<ul>
  <li>@Model.GetFirst() @Model.GetLast() has been added</li>
  <ul>
    <li>@Model.GetAddress()</li>
    <li>@Model.GetNumber()</li>
  </ul>
</ul>

<p><a href="/form">Click here</a> to add another address</p>
<p><a href="/">Click here</a> to view all adresses</p>
