@{
  Layout="Shared/_Layout.cshtml";
}


<h1>Enter Contact Information</h1>


<form  action="/contact/new" method="post">
  <label for="new-first">First Name</label>
  <input id="new-first" type="text" name="new-first">
  <br>
  <label for="new-last">Last Name</label>
  <input id="new-last" type="text" name="new-last">
  <br>
  <label for="new-number">Phone Number</label>
  <input id="new-number" type="text" name="new-number">
  <br>
  <label for="new-address">Address</label>
  <input id="new-address" type="text" name="new-address">
  <br>
  <label for="new-city">City</label>
  <input id="new-city" type="text" name="new-city">
  <br>
  <label for="new-state">State</label>
  <input id="new-state" type="text" name="new-state">
  <br>
  <label for="new-zip">Zip</label>
  <input id="new-zip" type="text" name="new-zip">
  <br>
  <button type "submit" name="button">Submit</button>
</form>

<p><a href="/">Click here</a> to view all adresses</p>
