<h1>Enter Contact Information</h1>


<form  action="/contact/new" method="post">
  <label for="new-first">First Name</label>
  <input id="new-first" type="text" name="new-first">
  <label for="new-last">Last Name</label>
  <input id="new-last" type="text" name="new-last">
  <label for="new-number">Phone Number</label>
  <input id="new-number" type="text" name="new-number">
  <label for="new-address">address</label>
  <input id="new-address" type="text" name="new-address">
  <button type "submit" name="button">Submit</button>
</form>

<p><a href="/">Click here</a> to view all adresses</p>
