@{
  Layout="Shared/_Layout.cshtml";
}



<h1>Hello</h1>

<p>All Contacts</p>

<ul>
  @foreach(var person in Model)
  {
      <li><a href="contact/@person.GetId()">@person.GetFirst() @person.GetLast()</a></li>
  }
</ul>


<p><a href="/contact/add">click here</a> to add a contact </p>


<form action="/contacts/clear" method="post">
  <button type="submit">Clear all contacts</button>
</form>
